.info {
margin: 25px;
}

html body{
  font-family: lato;
  background-color:rgb(1,12,29);
  font-family: 'Rajdhani', sans-serif;
  /* font-family: 'Oswald', sans-serif; */

}

.icons {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.cont:hover .icons {
  opacity: 0.3;
}

.cont:hover .middle {
  opacity: 1;
}

.text {
  background-color:#58A2B8;
  color: white;
  font-size: 16px;
  padding: 20px 40px;
}
.icons{
  margin: 50px;

}
.sidetitle{
  height: 300px;
  width: 400px;
}

.sidetitle2{
  height: 350px;
  width: 500px;
}

#background{
  width: 100%;
  height: 650px;
}

h2,h3, h4, h5, h6{
  color: white;
  text-align: center;

}
h1{
  color:#58A2B8;
  font-family: 'Faster One', cursive !important;
  font-size:60px;
  text-align: center;
  }
.footer {
    position:fixed;
    bottom: 0;
    width: 100%
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid red;
    margin: 1em 0;
    padding: 0;
}

p{
  color: white;
  padding: 20px;
  margin-top: 15px;
}

.effects{
  color: white;
  font-size: 23px;
  text-align: center;
}
.effects-icons{
  margin-left: 50px;
  margin-top: 20px;
}

.action-icon{
  height: 140px;
  width:200px;
  /* margin-left: 70px; */
}
.action-p{
  text-align: center;
  margin-right: 45px;
  margin-top: 10px;
}
.years{
  font-size: 25px;
  font-weight: bold;
}
#year3{
  margin-top: 35px;
}

#year2{
  margin-top: 55px;
}

#year1{
  margin-top: 51px;
}

span{
  font-weight: bold;
  color: #cc2424;
  /* color: Yellow; */
}


.overlay {
  position: absolute;
  bottom: 50%;
  left: 25%;
  right: 0;
  margin-top: 30px;
  background-color: orange;
  overflow: hidden;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  -webkit-transform:scale(0);
  transition: .3s ease;
}

.planets:hover .overlay {
  transform: scale(1)
}

.text2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
