.info {
margin: 25px;
}

body{
  /* background-color: rgb(214, 240, 245); */
  /* background-color: black; */
}
/* .navbar {
  max-width: 100%;
} */
.icons{
  margin: 50px;
}
#background{
  width: 100%;
  height: 900px;
  position: relative;
}

.title{
  position:absolute;
}
.footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.footer-logo{
  height:60px;
  float: left;
}

.copyright{
  float: right;
  color:white;
}
